<div class="home">
<div class="stars"></div>
      
<div class="twinkling"></div>

<div class="clouds">


    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand " href="#">
           Mona Soliman
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line" style="margin-bottom: 0;"></span>
        </span>
      </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
              </li>
              
              <li class="nav-item active">
                <a class="nav-link" href="#">Work <span class="sr-only">(current)</span></a>
              </li> 
              
              <li class="nav-item active">
                <a class="nav-link" href="#">Services <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
              </li>
          
          </ul>
         
        </div>
      </nav>

    

    <div class="container">
        <div class="row">
            <div class="col-md-9 m-auto">
                <div class="info">
                    <div class="line_one"></div>
                    <div class="line_two"></div>
                    <h2>Hello, I am a <span class="word_header">‹web›</span> developer located in Egypt.
                    </h2>
                    <div class="sign m-auto">
                        <span>And i love to " </span>
                        <span class="fast-flicker"> c </span>o<span class="flicker">d</span>e "
                      </div>                    <div class="line_three"></div>
                    <div class="line_four"></div>

                    <p>


                    </p>
                    <p style="text-align: center; margin-top: 15%;">  
   <i style="font-size: 2em;font-weight: 900;color: white;opacity: 0.5;" class="fas far fa-arrow-alt-circle-down"></i>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
</div>