@keyframes move-twink-back {
  
    from {background-position:0 0;}

    to {background-position:-10000px 5000px;}

}

@-webkit-keyframes move-twink-back {

    from {background-position:0 0;}

    to {background-position:-10000px 5000px;}

}

@-moz-keyframes move-twink-back {

    from {background-position:0 0;}

    to {background-position:-10000px 5000px;}

}

@-ms-keyframes move-twink-back {

    from {background-position:0 0;}

    to {background-position:-10000px 5000px;}

}

@keyframes move-clouds-back {

    from {background-position:0 0;}

    to {background-position:10000px 0;}

}

@-webkit-keyframes move-clouds-back {

    from {background-position:0 0;}

    to {background-position:10000px 0;}

}

@-moz-keyframes move-clouds-back {

    from {background-position:0 0;}

    to {background-position:10000px 0;}

}

@-ms-keyframes move-clouds-back {

    from {background-position: 0;}

    to {background-position:10000px 0;}

}

.stars, .twinkling, .clouds {

  position:absolute;

  top:0;

  left:0;

  right:0;

  bottom:0;

  width:100%;

  height:100%;

  display:block;

}

.stars {

  background:#000 url(../../assets/stars.png) repeat top center;

  z-index:0;

}

.twinkling{

  background:transparent url(../../assets/twinkling.png) repeat top center;

  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;

  -ms-animation:move-twink-back 200s linear infinite;

  -o-animation:move-twink-back 200s linear infinite;

  -webkit-animation:move-twink-back 200s linear infinite;

  animation:move-twink-back 200s linear infinite;

}

.clouds{

    background:transparent url(../../assets/clouds.png) repeat top center;

    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;

  -ms-animation:move-clouds-back 200s linear infinite;

  -o-animation:move-clouds-back 200s linear infinite;

  -webkit-animation:move-clouds-back 200s linear infinite;

  animation:move-clouds-back 200s linear infinite;

}

.info h2{
    color:white;
    font-size: 30 px;
    z-index: 5965536;
}
.info{
    width: 40%;
    z-index: 5887665;
    height: 300 px;
    background-color:teal;
    margin: auto;
    margin-top: 10%;
}

nav{
    margin-top: 0.6%;
    margin-left: 7%;
}

.nav-link{
    color: #fff !important ;
    font-family:'Work Sans', sans-serif;;
    font-size: 20px;
    
}
.navbar-brand{
    color: #fff;
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem
}
 nav ul {
     margin-right: 20%;
 }
 nav ul li {
     margin-left: 5%;
 }
 nav ul li a{
    position: relative;

 }
 nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
  }
  nav ul li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }