<div class="container-fluid about pt-5 " id="about">
    <div class="row">
        <div class="line_five"></div>
<div class="line_six"></div>
<div class="line_seven"></div>
<div class="line_eight"></div>
        <div class="col-md-7   m-auto">
            <h2 class="wow bounceInUp">About me   </h2>
            <div class="wow bounceInUp">
            <p >
        


                I graduated from  faculty of Engineering ( computers and systems department ).
                 After graduation, I studied at ITI ( Information technology institute) web development using Mean Stack,
                  I graduated from it. I really love to code and make responsive web pages to help companies 
                  and individuals grow their work.

            </p>
        </div>
        </div>
    </div>
</div>