<div class="container-fluid contact" style="background-color: black;">
    <div class="row">
        <div class="col-md-6 m-auto ">
<h2>   LET'S WORK TOGETHER</h2>
<div class=" iss mb-5 ">

<a href="https://github.com/MonaSoliman009" target="_blank">
    <i class="fab fa-github-square" onclick="">
    </i>
    </a>
    <a href="https://www.linkedin.com/in/mona-soliman-481748bb/" target="_blank">

    <i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/manon.soliman.7" target="_blank">


        <i class="fab fa-facebook-square"></i>    </a>
    
</div>
<p>

    © 2020 MONA SOLIMAN. All Rights Reserved.
</p>
        </div>
    </div>
</div>