<div class="container-fluid work" style="background-color:black;">
<div class="row  mb-4 first_row">
<div class="col-md-4 m-auto">
    <h2>Work</h2>
</div>
</div>
<div class="row work_details ">
    <div class="col-md-5 px-0 first_div bg-light">
        
    <div class="mb-4  img_container">
        <img src="../../assets/airi.png"/>
    </div>
    <div class="px-3">
        <h2>Javascript Game</h2>
    
        <p>
      Javascript game made to kids it consists of two categories funny 
      games and game to learn english , I used HTML5, CSS3, Javascript and Jquery.
        </p>
        <button type="button" onclick="window.location.href = 'https://priceless-engelbart-93ed2f.netlify.app/secondpage.html';" class="btn btn-outline-dark">App</button>
    </div>
    </div>
    <div class="col-md-5 px-0 first_div bg-light">
        <div class="mb-4  img_container">
            <img src="../../assets/game.png"/>
        </div>
        <div class="px-3">
            <h2>airi</h2>
        
            <p>
         Website for shopping to help people buy and sell clothes, I used HTML5, CSS3, Bootstrap, and Vue.js to make it
            </p>
            <button type="button" onclick="window.location.href = 'https://naughty-wing-801cc6.netlify.app/?fbclid=IwAR36D0sF1jjr0oIktK6McYmbv_Lfa-nwI74f4u7VB1VtdmpBtHJmFTwUAqQ';" class="btn btn-outline-dark">App</button>
        </div>
        </div>
        <div class="col-md-5 px-0 first_div bg-light">
            <div class="mb-4 img_container">
                <img src="../../assets/company.png"/>
            </div>
            <div class="px-3">
                <h2>Simple Company website</h2>
            
                <p>
            A simple website for a company, i made it when i began to learn HTML5, CSS3 and bootstrap.
                </p>
                <button type="button" onclick="window.location.href = 'https://companytemplate.netlify.app/?fbclid=IwAR0Mm-F-B0CWHzj61nlZbgFGW39KpTCbWx82gxrrodgW0SQyx5DwvcMjKJ0';" class="btn btn-outline-dark">App</button>
            </div>
            </div>   
            <div class="col-md-5 px-0 first_div bg-light">
                <div class="mb-4 img_container">
                    <img src="../../assets/mac.png"/>
                </div>
                <div class="px-3">
                    <h2>M.A.C</h2>
                
                    <p>
                 I tried to make M.A.C website for Cosmetics without using Bootstrap , I only used HTML and CSS so this one is not responsive.
                    </p>
                    <button type="button" onclick="window.location.href = 'https://macfirstpractice.netlify.app/?fbclid=IwAR0nfHIafHzScah3fMNWt4u-jxRoQnyias3esHItFYzWYySCJCTxQFV64QE';" class="btn btn-outline-dark">App</button>
                </div>
                </div>


                <div class="col-md-5 px-0 first_div bg-light">
                    <div class="mb-4 img_container">
                        <img src="../../assets/save.png"/>
                    </div>
                    <div class="px-3">
                        <h2>Save Them</h2>
                    
                        <p>
                     Save Them is a website for the charities and volunteers made to help the others who in need and to make the connections between charities much easier than before, i used HTML5, CSS3, Javascript, BOOTSTRAP, NODE.JS, MONGODB and SOCKET.IO
                        </p>
                        <button type="button" onclick="window.location.href = 'https://github.com/grauation-project/graduation-project';" class="btn btn-outline-dark">Code</button>
                    </div>
                    </div> 
                    <div class="col-md-5 px-0  first_div bg-light">
                        <div class="mb-4 img_container">
                            <img style="height: 240px;" src="../../assets/1C4kXh5keT.jpg"/>
                        </div>
                        <div class="px-3">
                            <h2>Xlarge</h2>
                        
                            <p>
                         Api for bloging website that contains posts, users, admins, and ech post has likes and comments.I used NODE.JS, MONGODB and EXPRESS
                            </p>
                            <button type="button" onclick="window.location.href = 'https://github.com/MonaSoliman009/xlarge-api';" class="btn btn-outline-dark">Code</button>
                        </div>
                        </div>
</div>

</div>