.first_row h2{
    color:#fff;
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    text-align: center !important;

    margin-bottom: 8%;
}
.work{
    padding-top: 5%;
    background-image: url(../../assets/light-tl.svg),url(../../assets/light-tr.svg),url("../../assets/light-bl.svg"),url("../../assets/light-br.svg");
    background-repeat: no-repeat,no-repeat;
    background-size: 25em,25em;
    background-position: top left,top right,bottom left,bottom right;
    background-attachment: scroll, scroll;
}
@media (min-width: 400px) and (max-width:900px) {
    .work {
        background-size: 12em,12em;
    }
}

.work_details div{
    margin-bottom: 4%;
    border-radius: 0.25rem;
    /* padding-bottom: 2%; */
}
.work_details{
    padding-left: 10%;
}
.work_details img{
    width: 100%;
    transition: all 1s ;
    height: 105%;

}
.work_details h2{
    color:black;
    font-family:'Work Sans', sans-serif;;
    font-size: 27px;
    text-align: center;
}
.work_details p{
    color:black;
    font-family:'Work Sans', sans-serif;;
    font-size: 20px;
    text-align: left;

}
.img_container{
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;

}
.surface{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom:-20px;
    background-color:black;
    opacity: 0.8;
    visibility: hidden;
    z-index: 548963254;
    transition: all 0.5s ;

}
.img_container:hover img{
    transform: scale(1.5,1.5);

}
.img_container:hover .surface{
visibility: visible;
}
.first_div{
    margin-right:3%;
    height: 100%;
}




@media (min-width: 400px) and (max-width:900px) {
    .two {
      height: 600px;
      padding-bottom: 0;
    }
}




.myButton {
	background-color:white;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:18px;
	padding:10px 42px;
    text-decoration:none;
    margin-left: 3%;
    margin-bottom: 2%;
}
.myButton:hover {
    background-color:rgb(48, 42, 42);
    color: white;
    border:1px solid white;

}
.myButton:active {
	position:relative;
	top:1px;
}


.caption{
    height: 200px;
    margin-bottom: 2%;
}

