<div class="container-fluid work" style="background-color:black;">
<div class="row  mb-4 first_row">
<div class="col-md-4 m-auto">
    <h2>Work</h2>
</div>
</div>
<div class="row work_details ">
    <div class="col-md-5 px-0 first_div bg-light">
    <div class="mb-4  img_container">
        <img src="../../assets/airi.png"/>
    </div>
    <div class="px-3">
        <h2>Javascript Game</h2>
    
        <p>
      Javascript game made to kids it consists of two categories funny 
      games and game to learn english , I used HTML5, CSS3, Javascript and Jquery.
        </p>
        <button type="button" onclick="window.location.href = 'https://priceless-engelbart-93ed2f.netlify.app/secondpage.html';" class="btn btn-outline-dark">App</button>
    </div>
    </div>
    <div class="col-md-5 px-0 first_div bg-light">
        <div class="mb-4  img_container">
            <img src="../../assets/game.png"/>
        </div>
        <div class="px-3">
            <h2>airi</h2>
        
            <p>
         Website for shopping to help people buy and sell clothes, I used HTML5, CSS3, Bootstrap, and Vue.js to make it
            </p>
            <button type="button" onclick="window.location.href = 'https://naughty-wing-801cc6.netlify.app/?fbclid=IwAR36D0sF1jjr0oIktK6McYmbv_Lfa-nwI74f4u7VB1VtdmpBtHJmFTwUAqQ';" class="btn btn-outline-dark">App</button>
        </div>
        </div>
        <div class="col-md-5 px-0 first_div bg-light">
            <div class="mb-4 img_container">
                <img src="../../assets/company.png"/>
            </div>
            <div class="px-3">
                <h2>Javascript Game</h2>
            
                <p>
              Javascript game made to kids it consists of two categories funny 
              games and game to learn english , I used HTML5, CSS3, Javascript and Jquery.
                </p>
                <button type="button" class="btn btn-outline-dark">App</button>
            </div>
            </div>   
            <div class="col-md-5 px-0 first_div bg-light">
                <div class="mb-4 img_container">
                    <img src="../../assets/game.png"/>
                </div>
                <div class="px-3">
                    <h2>Javascript Game</h2>
                
                    <p>
                  Javascript game made to kids it consists of two categories funny 
                  games and game to learn english , I used HTML5, CSS3, Javascript and Jquery.
                    </p>
                    <button type="button" class="btn btn-outline-dark">App</button>
                </div>
                </div>
</div>

</div>