<div class="container-fluid skills " style=" background-color: black; padding-bottom:5%">
<div class="row text_skills">
    <div class="col-md-4  m-auto ">
        <h2 style="text-align: center;">My Skills</h2>
    </div>
    
</div>
    <div class="row second_section mx-auto ">
            <div class="col-md-2  bg-light wow bounceInUp " >
                <i class="fab fa-html5 " style="font-size: 47px;    color: rgb(234, 98, 39);
                "></i>
                <p>HTML5</p>
            </div>
            <div class="col-md-2 bg-light wow bounceInUp">
                <i class="fab fa-css3-alt" style="font-size: 47px;color: rgb(26, 112, 181)"></i>
                <p>CSS3</p>

            </div>
            <div class="col-md-2 bg-light wow bounceInUp">
                <i class="fab fa-js-square" style="font-size: 47px;color: rgb(248, 194, 4)"></i>
                <p>JavaScript</p>

            </div>
            <div class="col-md-2 bg-light wow bounceInUp">
                <img src="../../assets/icons8-jquery.svg"/>
                <p>JQuery</p>

            </div>
            <div class="col-md-2 bg-light wow bounceInUp">
                <i class="fab fa-bootstrap" style="font-size: 47px;color: rgb(97, 63, 145)"></i>
                <p>Bootstrap</p>

            </div>
            <div class="col-md-2 bg-light wow bounceInUp">
                <i class="fab fa-sass" style="color: #C96196;font-size: 47px;"></i>
                <p>Saas</p>

            </div> 
            <div class="col-md-2 bg-light wow bounceInUp">
                <i class="fab fa-angular"  style="font-size: 47px;color:#b52e31"></i>
                <p>Angular8</p>

            </div>
           
              <div class="col-md-2 bg-light wow bounceInUp">
                <i class="fab fa-node" style="font-size: 50px;color:#215732"></i>
                <p>Node.js</p>

            </div>
            <div class="col-md-2 bg-light wow bounceInUp">
                <img src="../../assets/icons8-mongodb-48.png"/>
                <p>MongoDB</p>

            </div> 
             <div class="col-md-2 bg-light wow bounceInUp">
                <i class="fab fa-vuejs" style="font-size: 47px;color:#42b883"></i>
                <p>Vue.js</p>

            </div>
            <div class="col-md-2 bg-light wow bounceInUp">
                <i class="fab fa-github" style="font-size: 47px;"></i>
                <p>Github</p>

            </div>
        </div>
    </div>
