.skills{
    background-image: url(../../assets/light-tl.svg),url(../../assets/light-tr.svg);
    background-repeat: no-repeat,no-repeat;
    background-size: 25em,25em;
    background-position: top left,top right;
    background-attachment: scroll, scroll;
    text-align: center !important;
    padding-top: 5%;

}
@media (min-width: 400px) and (max-width:900px) {
    .skills {
        background-size: 12em,12em;
    }
}

.text_skills h2{
    color:#fff;
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    text-align: center !important;

}
.second_section div{
    margin-left: 3%;
    margin-top: 7%;
    padding-top:1%;
    padding-bottom:1%;

    height: 100px;
    border:2px solid #6b1839;
    border-radius:0.25rem
}
.second_section p{
    color:black;
    font-family:'Work Sans', sans-serif;;
    font-size: 20px;
}